    <div class="form-group">
        <label for="inputFirstname">First Name</label>
        <input type="text" 
        class="form-control" 
        name="inputFirstname"
        id="inputFirstname" 
        placeholder="First Name" 
        required
        [(ngModel)]="firstName"/>
    </div>
    <div class="form-group">
        <label for="inputLastname">Last Name</label>
        <input type="text" 
        class="form-control" 
        name="inputLastname"
        id="imputLastname" 
        placeholder="Last Name" 
        required
        [(ngModel)]="lastName"/>
    </div>
    <div class="form-group">
        <label for="inputEmial">Email</label>
        <input type="text" 
        name="inputEmail"
        class="form-control" 
        id="inputEmail" 
        placeholder="Email" 
        required
        [(ngModel)]="email"/>
    </div>
 
    <button class="btn btn-primary btn-block"  (click)="editUser()" >Save</button>